@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


header,.curriculum,.stories {
    max-width: 1160px;
    margin: 0px auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shared style */
.back-orange {
    background-color: #FEA301;
}

.orange {
    color: #FEA301;
}

.back-skyblue {
    background-color: #01ACFD;
}

.skyblue {
    color: #01ACFD;
}

main {
    background-image: url(assets/bg.png);
}
nav, banner{
    padding: 20px;
    
}

/* nav bar style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 11px;
}

.brand-name {
    font-weight: 700;
    font-size: 2.1rem;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-link-anchor {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550;
}

.nav-btn {
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    padding: 10px 60.5px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* banner design */

banner{
    display: flex;
    align-items: center;
    gap: 50px;
}
.banner-details{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;  
}
.banner-desc{
    font-size: 1.1rem;
}
.banner-btn{
    padding: 10px 47px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 12px;
}

/* Curriculum */

.curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px 0px;
}
.curriculum-title{
    font-weight: 700;
    font-size: 3rem;
    color: #000000;
}
.curriculum-cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28.29px;
}
.curriculum-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    gap: 32px;
    padding: 41px 53px;
}
.curriculum-card-3{
    background: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 40%);
    border: 1px solid #F2E8FF;
}
.curriculum-card-2{
    background: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 40%);
    border: 1px solid #FFF4DC
}
.curriculum-card-1{
    background: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 40%);
    border: 1px solid #DEF5FF;
}
.curriculum-card-title{
    font-weight: 700;
    font-size: 1.7rem;
    color: #202020;
}
.curriculum-card-desc{
    text-align: center;
    color: #808080;
    font-weight: 600;
    font-size: 1rem;
}
.curriculum-card-button{
    font-weight: 700;
    font-size: 1rem;
}
.left-arrow,.right-arrow{
    padding: 18px;
    border-radius: 50%;
    border: none;
    background-color: #FEA301;
    color: white;
    font-size: 1.5rem;
}
/* stories */
.stories{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.all-stories{

    background: linear-gradient(0deg, rgba(254, 163, 1, 0.25) 0%, rgba(255, 255, 255, 0.3) 100%);
    /* Set transparency here */
    pointer-events: none; 
}
    
.stories-title{
    font-weight: 700;
    font-size: 3rem;
    color: #000000;

}

.stories-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

/* left side card */
.left-side-card{
    grid-row: span 2;
}

.left-side-card-title{
    font-weight: 700;
    font-size: 1.4rem;
    color: #000000;
    width: 402px;
    margin-top: 36px;
    margin-bottom: 50px;
}
.left-side-card-desc{
    font-weight: 600;
    font-size: 1rem;
    width: 433px;
    color: #666666;
    margin-bottom: 30px;
}

/* right side card */

.right-side-card ,.left-side-card{
    border-radius: 16px;
    background-color: #FFFFFF;
}
.right-side-card img ,.left-side-card img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-desc,.left-side-story-desc{
    margin-left: 38px;

}
.date {
    display: inline;
    /* inline -> joto tuku jayga dorkar toto tukui nibe  */
    color: white;
    border-radius: 47.93px;
    padding: 10px 20px;
    position: relative;
    bottom: 15px;
}

.right-side-card-title{
    width: 214px;
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 28px;
}
/* footer */
footer{
    background-color: #01ACFD;
}
.footer-container{
    max-width: 1070px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    padding-top: 125px;
    padding-bottom: 175px;
}
.footer-title{
    font-weight: bold;
    color: white;
    font-size: 2rem;
}
.keep-in-touch{
    text-align: center;
    
}
#keep-in-touch{
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.footer-links{
    list-style: none;
}
#about-school{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 32px;
}
.footer-link{
    margin-bottom: 20px;
}
.footer-link-anchor{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}

.kids-image-education{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 36px;
}
.footer-desc{
    color: white;
    font-size: 1rem;
    width: 400px;
}



#menubar {
    display: none;
}
marquee{
    color: #01ACFD;
    font-weight: 700;
    margin-top: 10px;
    font-size: 3rem;
}

@media screen and (max-width:576px) {
    /* navbar design */

    nav {
        margin-top: 0px;
        border: 1px solid orange;
        padding: 12px 16px;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .brand-name {
        display: none;
    }

    #menubar {
        display: unset;
    }

    /* banner */

    banner{
        flex-direction: column-reverse;
    }
    banner img{
        width: 100%;
    }
    .banner-title,.banner-desc{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-btn-div{
        text-align: center;
    }

    /* curriculum part */

    .curriculum{
        padding: 50px 20px;
        gap: 20px;
    }
    .curriculum-title{
        text-align: center;
        font-size: 2rem;
    }
    .curriculum-cards-container{
        grid-template-columns: repeat(1,1fr);
    }
    /* stories part */
    .left-side-card{
        display: none;
    }
    .stories-card-container{

        grid-template-columns: repeat(2,1fr);
        padding: 20px;
        /* tricky */
        gap: 10px; 
    }

    /* takes a lot of time */

    .stories-card-container img{

        width: 100%;
    }
    .right-side-card-title{
        width: auto;
    }
    .story-desc{
        margin-left: 10px;
        padding: 10px;
    }
    .date{
        padding: 10px;
        font-size: 1rem;
    }
    .stories{
        gap: 40px;
    }
    /* footer part */
    .footer-container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
        gap: 30px;
    }
    .keep-in-touch{
        text-align: left;
    }
    .arrow{
        display: none;
    }
    
}